html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the body takes up the full height of the viewport */
}

/* General Page Styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Use flexbox to structure the layout */
    line-height: 1.6;
    color: #333;
    background-color: rgb(2, 12, 22);
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 0em;
    font-size: 0.9em;
    background-color: rgb(2, 12, 22);
    color: white;
}